runpod==1.3.6
pillow>=10.3.0
opencv-python-headless
numpy<2
scipy>=1.11.4
scikit-image
dill
piexif
segment-anything
transformers>=4.39.0,!=4.50.*
huggingface_hub
peft
accelerate>=0.26.0
timm
color-matcher
matplotlib
einops>=0.7.0
diffusers>=0.31.0
numba
colour-science
rembg
transparent-background
pixeloe
mss